<p id="12f28c5c-1f02-809f-a021-c2c9bcc88266" lang="en" class="">
  <mark class="highlight-gray"><a href="https://facebook.com/ipa.chiu/">FACEBOOK</a></mark>
  <mark class="highlight-gray"> | </mark>
  <mark class="highlight-gray"><a href="https://ipachiu.substack.com/">SUBSTACK</a></mark>
  <mark class="highlight-gray"> | </mark>
  <mark class="highlight-gray"><a href="https://g0v.social/@ipa">MASTODON</a></mark>
  <br/><br/>
</p>
